@page "/ask"

<!-- This page is intended for single-shot Q&A. -->

<PageTitle>Ask a Question</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" Class="overflow-x-auto">
        @if (_isReceivingResponse)
        {
            <Loading />
        }
        else if (_approachResponse is null)
        {
            <div class="d-flex align-content-center flex-wrap flex-grow-1 full-height">
                <Examples Message="Ask your data" OnExampleClicked="@OnAskQuestionAsync" />
            </div>
        }
        else if (_approachResponse is { Error.Length: > 0 })
        {
            <AnswerError Error="@_approachResponse" Question="@_userQuestion" OnRetryClicked="@OnAskQuestionAsync" />
        }
        else
        {
            <Answer Retort="@_approachResponse" FollowupQuestionClicked="@OnAskQuestionAsync" />
        }
    </MudItem>
    <MudItem xs="12" Class="rounded">
        <MudGrid>
            <MudItem xs="12" lg="10">
                <VoiceTextInput @bind-Value="_userQuestion" Label="Question"
                                Icon="@Icons.Material.Filled.QuestionMark"
                                Placeholder="Example: Does my plan cover annual eye exams?"
                                Disabled=@_isReceivingResponse
                                HelperText="Use Shift + Enter for new lines."
                                OnEnterKeyPressed="OnAskClickedAsync" />
            </MudItem>
            <MudItem xs="0" lg="2" Class="d-flex align-self-center">
                <MudGrid Justify="Justify.Center">
                    <MudItem xs="9" Class="pa-2">
                        <MudFab Color="Color.Secondary" Size="Size.Large"
                                StartIcon=@Icons.Material.Filled.Send Class="full-width"
                                Label="Ask" aria-label="Ask question button."
                                OnClick="@OnAskClickedAsync"
                                Disabled=@(_isReceivingResponse || string.IsNullOrWhiteSpace(_userQuestion)) />
                    </MudItem>
                    <MudItem xs="3" Class="pa-2">
                        <MudTooltip Arrow="true" Text="Clear question and answer" Placement="Placement.Top">
                            <MudFab Color="Color.Primary" Size="Size.Medium"
                                    StartIcon=@Icons.Material.Filled.DeleteForever
                                    aria-label="Clear chat."
                                    OnClick="@OnClearChat" Disabled=@(_isReceivingResponse || _approachResponse is null) />
                        </MudTooltip>
                    </MudItem>               
                </MudGrid>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>