@page "/chat"

<!-- This page is intended for conversational Q&A. -->

<PageTitle>@ChatTitle</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem id="answers" xs="12" Style="min-height: 75vh; max-height: 75vh" Class="overflow-x-auto">
        <MudStack Reverse="true" Spacing="12">
            @if (_questionAndAnswerMap is { Count: 0 })
            {
                <div class="d-flex align-content-center flex-wrap flex-grow-1 full-height">
                    <Examples Message="Chat with your data" OnExampleClicked="@OnAskQuestionAsync" />
                </div>
            }
            else foreach (var (question, answer) in _questionAndAnswerMap)
            {
                <MudStack Justify="Justify.Center" AlignItems="AlignItems.Start" Spacing="4">
                    <MudBadge Origin="Origin.TopLeft" Overlap="true" Color="Color.Secondary"
                          Icon="@Icons.Material.Filled.QuestionMark" Class="d-flex align-self-end">
                        <MudPaper Class="pa-6" Elevation="3">
                            <MudText Typo="Typo.body1">
                                @question
                            </MudText>
                        </MudPaper>
                    </MudBadge>
                    <div style="max-width: 80%; min-width: 80%;">
                        @if (answer is null)
                        {
                            <MudBadge Origin="Origin.TopLeft" Overlap="true" Color="Color.Secondary"
                                Icon="@Icons.Material.Filled.Lightbulb" Class="full-width">
                                <MudPaper Class="pa-6" Elevation="3">
                                    <Loading />
                                </MudPaper>
                            </MudBadge>
                        }
                        else if (answer is { Error.Length: > 0 })
                        {
                            <MudBadge Origin="Origin.TopLeft" Overlap="true" Color="Color.Error"
                                Icon="@Icons.Material.Filled.Error">
                                    <AnswerError Error="@answer" Question="@question" 
                                                 OnRetryClicked="@OnAskQuestionAsync" />
                                </MudBadge>
                        }
                        else
                        {
                            <MudBadge Origin="Origin.TopLeft" Overlap="true" Color="Color.Secondary"
                                      Icon="@Icons.Material.Filled.AutoAwesome">
                                <Answer Retort="@answer" FollowupQuestionClicked="@OnAskQuestionAsync" />
                            </MudBadge>
                        }
                    </div>
                </MudStack>
            }
        </MudStack>
    </MudItem>
    <MudItem xs="12" Class="rounded">
        <MudGrid>
            <MudItem xs="11">
                <MudTextField @bind-Value="_userQuestion" Label="@(Prompt)"
                              Variant="Variant.Outlined" Adornment="Adornment.End"
                              AdornmentIcon="@Icons.Material.Filled.QuestionAnswer"
                              AdornmentColor="Color.Secondary" AutoFocus="true"
                              Placeholder="@(ChatPrompt)" Lines="3"
                              Disabled=@_isReceivingResponse IconSize="Size.Large"
                              autocomplete="off" title="@(ChatPrompt)" />
            </MudItem>
            <MudItem xs="1" Class="flex align-self-center">
                <MudStack>
                    <MudTooltip Text="Ask question" Placement="Placement.Top">
                        <MudFab Color="Color.Secondary" Size="Size.Medium"
                                StartIcon=@Icons.Material.Filled.Send
                                Label="Ask" aria-label="Send message button."
                                OnClick="@OnAskClickedAsync" Disabled=@_isReceivingResponse />
                    </MudTooltip>
                    <MudTooltip Text="Clear chat" Placement="Placement.Right">
                                <MudFab Color="Color.Warning" Size="Size.Medium"
                                StartIcon=@Icons.Material.Filled.DeleteForever
                                Label="Clear" aria-label="Clear chat."
                                OnClick="@OnClearChat" Disabled=@_isReceivingResponse />
                    </MudTooltip>
                 </MudStack>                
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudScrollToTop Selector="#answers" 
                    VisibleCssClass="visible absolute"
                    HiddenCssClass="invisible">
        <MudFab Color="Color.Primary" IconSize="Size.Large" StartIcon="@Icons.Material.Filled.ArrowUpward" />
    </MudScrollToTop>
</MudGrid>
