@page "/chat"

<!-- This page is intended for conversational Q&A. -->

<PageTitle>@ChatTitle</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem id="answers" xs="12" Style="min-height: 75vh; max-height: 75vh" Class="overflow-x-auto">
        <MudStack Reverse="true" Spacing="4">
            @if (_questionAndAnswerMap is { Count: 0 })
            {
                <div class="d-flex align-content-center flex-wrap flex-grow-1 full-height">
                    <Examples OnExampleClicked="@OnExampleClickedAsync" />
                </div>
            }
            else foreach (var (question, answer) in _questionAndAnswerMap)
            {
                <MudStack Justify="Justify.Center" AlignItems="AlignItems.Start" Spacing="3">
                    <MudBadge Origin="Origin.TopLeft" Overlap="true" Color="Color.Secondary"
                          Icon="@Icons.Material.Filled.QuestionMark" Class="d-flex align-self-end">
                        <MudPaper Class="pa-6" Elevation="3">
                            <MudText Typo="Typo.body1">
                                @question
                            </MudText>
                        </MudPaper>
                    </MudBadge>
                    <div style="max-width: 80%">
                        @if (answer is null)
                        {
                            <Loading />
                        }
                        else
                        {
                            <MudBadge Origin="Origin.TopLeft" Overlap="true" Color="Color.Secondary"
                                      Icon="@Icons.Material.Filled.Check">
                                <Answer Retort="@answer" FollowupQuestionClicked="@OnFollowupQuestionClickedAsync" />
                            </MudBadge>
                        }
                    </div>
                </MudStack>
            }
        </MudStack>
    </MudItem>
    <MudItem xs="12" Class="rounded">
        <MudGrid>
            <MudItem xs="11">
                <MudTextField @bind-Value="_userQuestion" Label="@(Prompt)"
                              Variant="Variant.Outlined" Adornment="Adornment.End"
                              AdornmentIcon="@Icons.Material.Filled.QuestionAnswer"
                              AdornmentColor="Color.Secondary" AutoFocus="true"
                              Placeholder="@(ChatPrompt)" Lines="3"
                              Disabled=@_isReceivingResponse IconSize="Size.Large"
                              autocomplete="off" title="@(ChatPrompt)" />
            </MudItem>
            <MudItem xs="1" Class="flex align-self-center">
                <MudFab Color="Color.Secondary" Size="Size.Large"
                        StartIcon=@Icons.Material.Filled.Send
                        OnClick="@OnAskClickedAsync" Disabled=@_isReceivingResponse />
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudScrollToTop Selector="#answers" 
                    VisibleCssClass="visible absolute"
                    HiddenCssClass="invisible">
        <MudFab Color="Color.Warning" IconSize="Size.Large" StartIcon="@Icons.Material.Filled.ArrowUpward" />
    </MudScrollToTop>
</MudGrid>
