@page "/"

<PageTitle>@HomeTitle</PageTitle>

<MudCard Elevation="24">
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar Color="Color.Info" Size="Size.Large">
                <MudIcon Icon="@Icons.Custom.Brands.MicrosoftAzure" Size="Size.Large" />
            </MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.h5">
                <MudLink Href="https://www.nuget.org/packages/Azure.AI.OpenAI" Target="_blank">
                    Azure.AI.OpenAI 📦
                </MudLink>
            </MudText>
            <MudText Typo="Typo.h6">Blazor 💜 OpenAI</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudCarousel Class="mud-width-full"
                     BulletsColor=Color.Primary Style="height: 58vh;"
                     AutoCycle="true" TData="string" Context="image"
                     ItemsSource=@_images AutoCycleTime=@TimeSpan.FromSeconds(3)>
            <ItemTemplate>
                <div class="d-flex flex-grow-1">
                    <MudImage Fluid="true" Src=@image Elevation="10"
                              Alt="An AI generated image from Bing / Create." Class="rounded-lg mx-auto my-auto" />
                </div>
            </ItemTemplate>
        </MudCarousel>
        <div class="full-width pt-6 text-align-center">
            <MudText Typo="Typo.caption">
                @BingImageText
                <MudLink Href="https://www.bing.com/images/create/" Target="_blank" Class="mud-typography-caption">
                    @BingImageCreatorLinkText
                </MudLink>
            </MudText>
        </div>
    </MudCardContent>
    <MudCardActions>
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Size="Size.Large" Target="_blank"
                       Href="https://github.com/Azure/azure-sdk-for-net" Title="@AzureSdkGitHubLinkTitle" />
        <MudIconButton Icon="@Icons.Material.Filled.GetApp" Size="Size.Large" Target="_blank"
                       Href="https://www.nuget.org/packages/Azure.AI.OpenAI" Title="@NuGetLinkAzureOpenAI" />
        <MudIconButton Icon="@Icons.Custom.Brands.Microsoft" Size="Size.Large" Target="_blank"
                       Href="https://learn.microsoft.com/azure/cognitive-services/openai"
                       Title="@MicrosoftLearnContentLinkTitle" />
        <MudIconButton Icon="@Icons.Custom.Brands.MudBlazor" Size="Size.Large" Target="_blank"
                       Href="https://www.mudblazor.com/" Title="@MudBlazorLink" />
    </MudCardActions>
</MudCard>
