<MudDialog DisableSidePadding="true">
    <DialogContent>
        <MudContainer Class="pdf-container">
            <div style="@_pdfViewerVisibilityStyle">
                <iframe id="pdf-viewer" src="@(FileName.ToCitationUrl(BaseUrl))" title="@FileName" />
            </div>
            @if (_isLoading)
            {
                <MudSkeleton Class="pa-2" />
                <MudSkeleton Class="pa-2" SkeletonType="SkeletonType.Circle" Height="4rem" Width="4rem" />
                <MudSkeleton Class="pa-2" SkeletonType="SkeletonType.Rectangle" Height="12rem" />
                <MudSkeleton Class="pa-2" Height="2rem" />
                <MudSkeleton Class="pa-2" Height="3rem" />
                <MudSkeleton Class="pa-2" />
                <MudSkeleton Class="pa-2" SkeletonType="SkeletonType.Rectangle" Height="12rem" />
            }
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" Size="Size.Large"
                   StartIcon="@Icons.Material.Filled.Close"
                   OnClick="@OnCloseClick">Close</MudButton>
    </DialogActions>
</MudDialog>