<MudDrawer @bind-Open="@Open" Anchor="@Anchor.End" Elevation="5"
    Variant="@DrawerVariant.Temporary" Width="25rem">
    <MudDrawerHeader>
        <MudIcon Icon="@Icons.Material.Filled.Settings" Size="Size.Medium" 
                 Color="Color.Tertiary" Class="ma-1" />
        <MudText Typo="Typo.h5" Class="pl-2">
            @Title
        </MudText>
    </MudDrawerHeader>
    <div class="pa-6">
        @if (_supportedSettings is not SupportedSettings.Chat)
        {
            <MudText Typo="Typo.subtitle1">@ApproachLabel</MudText>
            <MudRadioGroup @bind-SelectedOption="@Settings.Approach" Class="pa-2">
                <MudRadio Option="@Approach.RetrieveThenRead" Color="Color.Primary">
                    @RetrieveThenRead
                </MudRadio>
                <MudRadio Option="@Approach.ReadRetrieveRead" Color="Color.Primary">
                    @ReadRetrieveRead
                </MudRadio>
                <MudRadio Option="@Approach.ReadDecomposeAsk" Color="Color.Primary">
                    @ReadDecomposeAsk
                </MudRadio>
            </MudRadioGroup>
        }

        <MudTextField T="string" Lines="5" Variant="Variant.Outlined"
                      Label="@OverridePromptTemplate" Placeholder="@OverridePromptTemplate" Class="pa-2"
                      @bind-Value="Settings.Overrides.PromptTemplate" Clearable="true" />
                      
        <MudNumericField @bind-Value="Settings.Overrides.Top" Class="pa-2"
                         Placeholder="@RetrieveNumberOfDocs"
                         Label="@RetrieveNumberOfDocs" HideSpinButtons="true"
                         aria-label="Number input for the number of documents to search."
                         Variant="Variant.Outlined" Min="1" Max="50" />

        <MudTextField T="string" Variant="Variant.Outlined"
                      Label="@ExcludeCategory" Placeholder="@ExcludeCategory" Class="pa-2"
                      @bind-Value="Settings.Overrides.ExcludeCategory" Clearable="true" />

        <MudCheckBox @bind-Checked="@Settings.Overrides.SemanticRanker" Size="Size.Large"
                    Color="Color.Primary" Label="@UseSemanticRanker" />

        <MudCheckBox @bind-Checked="@Settings.Overrides.SemanticCaptions" Size="Size.Large"
                     Color="Color.Primary" 
                     Label="@UseQueryContext" />
    
        @if (_supportedSettings is not SupportedSettings.Chat)
        {
            <MudCheckBox @bind-Checked="@Settings.Overrides.SuggestFollowupQuestions" Size="Size.Large"
                         Color="Color.Primary" Label="@SuggestFollowups"
                         aria-label="Suggest follow-up questions checkbox." />
        }
    </div>
    <div class="d-flex align-content-end flex-wrap flex-grow-1 pa-6">
        <MudButton Variant="Variant.Filled" Color="Color.Secondary"
            OnClick="@(_ => Open = Open is false)" Size="Size.Large"
            StartIcon="@Icons.Material.Filled.Close"
            aria-label="Close setting panel button.">
            @Close
        </MudButton>
    </div>
</MudDrawer>