<MudDrawer @bind-Open="@Open" Anchor="@Anchor.End" Elevation="5"
    Variant="@DrawerVariant.Temporary" Width="25rem">
    <MudDrawerHeader>
        <MudIcon Icon="@Icons.Material.Filled.Settings" Size="Size.Medium" 
                 Color="Color.Tertiary" Class="ma-1" />
        <MudText Typo="Typo.h5" Class="pl-2">
            Configure Answer Generation
        </MudText>
    </MudDrawerHeader>
    <div class="pa-6">
        @if (_supportedSettings is not SupportedSettings.Chat)
        {
            <MudText Typo="Typo.subtitle1">Approach</MudText>
            <MudRadioGroup @bind-SelectedOption="@Settings.Approach" Class="pa-2">
                <MudRadio Option="@Approach.RetrieveThenRead" Color="Color.Primary">
                    Retrieve-Then-Read
                </MudRadio>
                <MudRadio Option="@Approach.ReadRetrieveRead" Color="Color.Primary">
                    Read-Retrieve-Read
                </MudRadio>
                <MudRadio Option="@Approach.ReadDecomposeAsk" Color="Color.Primary">
                    Read-Decompose-Ask
                </MudRadio>
            </MudRadioGroup>
        }

        <MudTextField T="string" Lines="5" Variant="Variant.Outlined"
                      Label="Override prompt template" Placeholder="Override prompt template" Class="pa-2"
                      @bind-Value="Settings.Overrides.PromptTemplate" Clearable="true" />
                      
        <MudNumericField @bind-Value="Settings.Overrides.Top" Class="pa-2"
                         Placeholder="Retrieve this many documents from search"
                         Label="Retrieve this many documents from search" HideSpinButtons="true"
                         aria-label="Number input for the number of documents to search."
                         Variant="Variant.Outlined" Min="1" Max="50" />

        <MudTextField T="string" Variant="Variant.Outlined"
                      Label="Exclude category" Placeholder="Exclude category" Class="pa-2"
                      @bind-Value="Settings.Overrides.ExcludeCategory" Clearable="true" />

        <MudCheckBox @bind-Checked="@Settings.Overrides.SemanticRanker" Size="Size.Large"
                     Color="Color.Primary" Label="Use semantic ranker for retrieval" />

        <MudCheckBox @bind-Checked="@Settings.Overrides.SemanticCaptions" Size="Size.Large"
                     Color="Color.Primary" 
                     Label="Use query-contrextual summaries instead of whole documents" />
    
        @if (_supportedSettings is not SupportedSettings.Chat)
        {
            <MudCheckBox @bind-Checked="@Settings.Overrides.SuggestFollowupQuestions" Size="Size.Large"
                         Color="Color.Primary" Label="Suggest follow-up questions"
                         aria-label="Suggest follow-up questions checkbox." />
        }
    </div>
    <div class="d-flex align-content-end flex-wrap flex-grow-1 pa-6">
        <MudButton Variant="Variant.Filled" Color="Color.Secondary"
            OnClick="@(_ => Open = Open is false)" Size="Size.Large"
            StartIcon="@Icons.Material.Filled.Close"
            aria-label="Close setting panel button.">
            Close
        </MudButton>
    </div>
</MudDrawer>